body {
    font-size: x-large;
}
table {
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
    border: solid thick;
    /*text-align: center;*/
}

th,td {
    border: solid thin;
    text-align: center;
    padding: 0;
    min-width: 9em;
}

.center-table {
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    overflow-x: scroll;
}