body {
    font-family: 'Noto Sans', sans-serif;
    background: #DDFFDD;
}

.center-align {
    text-align: center;
}

button {
    width: 300px;
    height: 100px;
    font-weight: bold;
}

footer {
    margin-top: 10px;
    border-top: #002E00 solid 1px;
}

.inline-heading {
    display: inline;
}

table {
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
    border: solid thick;
    /*text-align: center;*/
}

th,td {
    border: solid thin;
    padding: 0;
    min-width: 9em;
}

td {
    ;
}

summary p {
    margin: 0;
}
article > section {
    margin-top: 10px;
}

article > section > details > summary {
    background: midnightblue;
    color: white;
}

article > section > details > section {
    /*margin-bottom: 10px;*/
    background: #EEFFEE;
    border: #0A4E0A dashed 1px;
}

h1 {
    color: #00A497 !important;
    -webkit-text-stroke-color: #002E00;
    -webkit-text-stroke-width: thin;
}
.accent {
    color: #CF464B;
}

th {
    background: deepskyblue;
}