body {
    /*margin: 0;*/
    background-color: beige;
    font-family: 'Noto Sans JP', sans-serif;
    /*font-family: 'Noto Serif JP', serif;*/

    color: black;
}

header > * {
    display: inline-block;
}


nav {
    border-top: black 2px solid;
    border-bottom: black 2px solid;

}

menu {
    padding: 0;
    text-align: center;
}

menu > ul > li {
    display: inline-block;
    margin: 0 5px;
}
menu > ul > li > a {
    padding: 5px;
    text-decoration: none;
}

a:hover {
    background-color: lightgreen;
}

.no-decoration{
    text-decoration: none;
    color: black;
}

.no-decoration:hover {
    background-color: lightgreen;
}
.alert {
    color: red;
    text-decoration: underline red;
}
footer {
    border-top: 2px black solid;
    text-align: right;
}


.list-item {
    border: black 2px solid;
    background-color: white;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    width: 30%;
    min-width: 250px;
    vertical-align: top;
}
.inline {
    display: inline;
}

.right {
    text-align: right;
}

pre {
    white-space: pre-wrap ;
}

a,dd {
    word-break: break-all;
}

.center {
    text-align: center;
}
.list-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    text-align: left;
}