body {
    /*margin: 0;*/
    background-color: beige;
    font-family: 'Noto Sans JP', sans-serif;
    /*font-family: 'Noto Serif JP', serif;*/
}

header > * {
    display: inline-block;
}

main, aside {
    display: inline-block;
    vertical-align: top;
}

main {
    width: 70%;
    /*background-color: red;*/
}

aside {
    width: 29%;
    /*background-color: blue;*/
}

menu {
    padding: 0;
    text-align: center;
}

menu > ul > li {
    display: inline-block;
    margin: 0 5px;
}
menu > ul > li > a {
    padding: 5px;
    text-decoration: none;
    border: 2px burlywood solid;
    background-color: whitesmoke;
    color: black;
}


footer {
    text-align: right;
    font-size: small;
    font-weight: lighter;
    font-family: 'Noto Serif JP', serif;
}

#main-container {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px 0;
}

.no-decoration {
    text-decoration: none;
    color: black;
}

table {
    font-size: small;
    width: 100%;
    border-collapse: collapse;
}

th {
    border: 2px black solid;
}

td {
    border: 1px black solid;
}

details[open] {
    background-color: whitesmoke;
    border: black 2px solid;
    padding: 2px;
    margin: 2px;
}

.right {
    text-align: right;
}

.alert {
    color: red;
}

.inline {
    display: inline;
    height: 1em;
    vertical-align: middle;
}