html {
    text-align: center;
}

.button-list >li {
    border: wheat 1px solid;
}

.flex-list {
    display: block !important;
}

li {
    width: 100% !important;
}

aside {
    border-top: #002E00 2px dashed;
}