/* index.html用 2段組みあり*/
body {
    display: grid;
    /*grid-template-rows: 100px 50px 750px 50px;*/
    grid-template-columns: 33.3% 33.3% 1fr;
    grid-template-areas:
            "header header header"
            "main main aside"
            "footer footer footer";
}

header {
    grid-area: header;
    position: fixed;
    width: 100%;
    background: white;
    top: 0;
    height: 170px;
    /*background: red;*/
}

main {
    grid-area: main;
    /*background: purple;*/
    padding-top: 170px;
}

aside {
    grid-area: aside;
    padding-top: 170px;
    /*background: blue;*/
}

footer {
    grid-area: footer;
    /*background: blueviolet;*/
}